$primaryDark: #2b616d;
$primaryLight: #F8F5F2;

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

@mixin navbar($bg, $height, $flexdir) {
    display: flex;
    flex-direction: $flexdir;
    justify-content: center;
    align-items: center;
    background-color: $bg;
    width: 100%;
    height: $height;
    position: fixed;
    top: 0;
    left: 0;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

body {
    background-color: #b2dbd5 !important;
    font-family: 'Roboto', sans-serif;
    color: #333;
}



#nav-matches {
    @include navbar(whitesmoke, 50px, row);
    margin-top: 55px;
    z-index: 1;
}

#gamesInfo {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .card {
        margin: 20px 0;
        border-left: 4px solid #5bc0de;
    }
    p {
        font-weight: bold;;
    }
}

@media only screen and (min-width: 575px) {
    #gamesInfo {
        margin-left: 20px;
    }
}