@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


@mixin navbar($bg, $height, $flexdir) {
    display: flex;
    flex-direction: $flexdir;
    justify-content: center;
    align-items: center;
    background-color: $bg;
    width: 100%;
    height: $height;
    position: fixed;
    top: 0;
    left: 0;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

body {
    background-color: #f7f7f7 !important;
    font-family: 'Roboto', sans-serif;
    color: #333;
    overflow-x: hidden;
}


#nav-matches {
    @include navbar(whitesmoke, 50px, row);
    margin-top: 55px;
    z-index: 1;
}

#gamesInfo {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .card {
        margin: 20px 0;
        border-left: 4px solid #5bc0de;
    }
    p {
        font-weight: bold;;
    }
}

#leagueOption {
    margin-top: 150px;
}

#teams {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    .team {
        background-color: #fff;
        border: 1px solid #ccc;
        border-bottom: 6px solid #5bc0de;
        border-radius: 6px;
        opacity: .9;
        padding: 20px;
        margin: 30px;
        cursor: pointer;
    }
    img {
        @include size(100px, 100px);
    }
}

#teamInfo {
    display: none;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 30px;
    img {
        @include size(150px, 150px);
        margin: 35px 0;
    }
}

#teamSchedule {
    margin: 0 auto;
    width: 50%;
}

@media only screen and (min-width: 575px) {
    #gamesInfo, #leagueOption {
        margin-left: 20px;
    }
}

@media only screen and (max-width: 575px) {
   nav {
       button {
           display: none !important;
       }
   }
}